/********
 * #Base *
 ********/

	/**************************
	 * Reset (Eric Meyer 2.0) *
	 **************************/
		html, body, div, span, applet, object, iframe,
		h1, h2, h3, h4, h5, h6, p, blockquote, pre,
		a, abbr, acronym, address, big, cite, code,
		del, dfn, em, img, ins, kbd, q, s, samp,
		small, strike, strong, sub, sup, tt, var,
		b, u, i, center,
		dl, dt, dd, ol, ul, li,
		fieldset, form, label, legend,
		table, caption, tbody, tfoot, thead, tr, th, td,
		article, aside, canvas, details, embed, 
		figure, figcaption, footer, header, hgroup, 
		menu, nav, output, ruby, section, summary,
		time, mark, audio, video {
			margin: 0;
			padding: 0;
			border: 0;
			font-size: 100%;
			font: inherit;
			vertical-align: baseline;
		}
		
		/* HTML5 display-role reset for older browsers */
		article, aside, details, figcaption, figure, 
		footer, header, hgroup, menu, nav, section {
			display: block;
		}
		body {
			line-height: 1;
		}
		ol, ul {
			list-style: none;
		}
		blockquote, q {
			quotes: none;
		}
		blockquote:before, blockquote:after,
		q:before, q:after {
			content: '';
			content: none;
		}
		table {
			border-collapse: collapse;
			border-spacing: 0;
		}
		
		
		 /***********************
		 * Innovators Only Base *
		 ************************/
		 html {
		 	font-family: 'Dosis', 'Helvetica', sans-serif;
		 }
		 
		 a {
		 	text-decoration: none;
		 }
		 
		 .video-title {
	 		font-size: 1.8em;
	 		color: #2E2B3B;
	 		font-weight: lighter;
	 		padding-bottom: .5em;
	 		line-height: 1.05em;
		 }
		  		
/***********************
 * #Layout	           *
 ***********************/
 		
	
	/********************************
	 * #Layout smartphones          *
	 ********************************/
	 	.l-center {
 			text-align: center;
 			margin: 0 auto;
 		}
 		
 		header {
			background: #122661; /* Old browsers */
			/* IE9 SVG, needs conditional override of 'filter' to 'none' */
			background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzEyMjY2MSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwZDNiMmIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
			background: -moz-linear-gradient(top,  #122661 0%, #0d3b2b 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#122661), color-stop(100%,#0d3b2b)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  #122661 0%,#0d3b2b 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  #122661 0%,#0d3b2b 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  #122661 0%,#0d3b2b 100%); /* IE10+ */
			background: linear-gradient(to bottom,  #122661 0%,#0d3b2b 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#122661', endColorstr='#0d3b2b',GradientType=0 ); /* IE6-8 */

			
 			padding: 1em;
 			color: #DEDEDE;
 			
 			font-size: 1.15em;
 		}
 		
 		.logo {
 			width: 60%;
 		}
 		
 		.text-block {
 			text-align: left;
 			line-height: 1.4em;
 		}
 		
 		.l-main {
 			padding: 1em;
 			font-size: 1.15em;
 			line-height: 1.4em;
 		}
 		
 		video {
	 		height: auto;	
	 		max-width: 100%;
	 		width: 640px;
	 	}

	 	video object, video img {
			max-width: 100%;
			height: auto;
			width: 640px;
			height: 400px;
	 	}
	 	
	 	.l-nav {
	 		width: 100%;
	 	}
	 	
	 	.l-video-wrapper {
		 	margin-bottom: 2em;
	 	}
	 	
	 	
	 	.l-header-left {
			padding-bottom: 1em;			
	 	}
		 	


	 	
	 	
	/*******************************
	 * #Layout desktop             *
	 *******************************/		
		@media screen and (min-width: 730px) {
			.l-nav {
				float: left;
				width: 28%;
				padding-left: 6%;
				padding-right: 1%;
				box-sizing: border-box;
				-moz-box-sizing: border-box;
				-webkit-box-sizing: border-box;
			}
			
			.l-main {
				float: right;
				width: 65%;
				padding-left: 5%;
				padding-right: 5%;
				box-sizing: border-box;
				-moz-box-sizing: border-box;
				-webkit-box-sizing: border-box;
			}
			
			.logo {
				width: 100%;
			}
			
			.text-block {
				width: 70%;
				margin-left: auto;
				margin-right: auto;
			}
			
			header {
				padding-top: 2em;
				padding-bottom: 2em;
			}
			
			#wrapper {
				padding-top: 2em;
			}
			
			.l-video-wrapper {
		 		margin-bottom: 3em;
		 	}
		 	
		 	.l-header-left {
		 		width: 35%;
		 		float: left;
		 		padding-left: 4.6%;
		 		box-sizing: border-box;
				-moz-box-sizing: border-box;
				-webkit-box-sizing: border-box;
		 	}
		 	
		 	.l-header-right {
		 		width: 60%;
		 		float: right;
		 		padding-right: 10%;
		 		box-sizing: border-box;
				-moz-box-sizing: border-box;
				-webkit-box-sizing: border-box;
				margin-top: 3.45%;
				margin-bottom: 3%;
		 	}
		}
	 	

/***********************
 * #Dropdown Module    *
 ***********************/
 		
	
	/**********************************
	 * #Dropdown module - smartphones *
	 **********************************/
		.dropdown-button, .dropdown-link {
	 		background-color: #FF8E00;
	 		padding: .5em;
	 		display: inline-block;
	 		cursor: pointer;
	 	}
	 	
	 	.dropdown-button img {
	 		float: right;
	 		vertical-align: middle;
	 		height: 1.25em;
	 		margin-left: 1em;
	 	}
	 	
	 	.dropdown-button-text {
	 		float:left;
	 		line-height:1.25em;
	 	}
	 	
	 	.dropdown-menu {
	 		display: none;
			width: 75%;
			float: right;
			position: fixed;
			right: 20px;
			top: 0;
			z-index: 101;
	 	}
	 	
	 	.dropdown-link {
	 		text-decoration: none;
	 		color: black;
	 		width: 100%;
	 		border-left: 1px solid white;
	 		border-bottom: 1px solid white;
	 		font-size: 1.25em;
	 		padding-top: 1em;
	 		padding-bottom: 1em;
	 	}
	 	
	 	#lightbox {
	 		display: none;
	 		background-color: gray;
	 		float: left;
	 		height: 100%;
	 		width: 100%;
	 		z-index: 100;
	 		position: fixed;
	 		opacity:0.75;
	 		filter:alpha(opacity=75); /* For IE8 and earlier */
	 	}
	 	
 	/*******************************
	 * #Dropdown Module desktop             *
	 *******************************/		
	@media screen and (min-width: 730px) {
		.dropdown-menu {
			display: none;
			float: none;
			position: relative;
			right: 0;
			width: 50%;
		}
		
		#lightbox {
			height: 0;
			width: 0;
		}
		
		.dropdown-link {
	 		width: 100%;
	 		font-size: 1em;
	 		border-top: 1px solid white;
	 		border-left: none;
	 	}		
	 	
	 	.dropdown-button:hover, .dropdown-link:hover, .nav-link:hover {
	 		background-color: #FFAE00;
	 	}
	}

/***********************
 * #Nav Module    *
 ***********************/
 		
	
	/**********************************
	 * #Nav module - smartphones      *
	 **********************************/
	 	.nav-header {
	 		background-color: #2E2B3B;
	 		font-size: 1.8em;
	 		color: white;
	 		padding: .6em;
	 		margin-top: .5em;
	 		font-weight: lighter;
	 	}
	 	
	 	.nav-link {
	 		background-color: #FF8E00;
	 		font-size: 1.25em;
	 		line-height: 1.25;
	 		display: block;
	 		padding: .75em;
	 		border-top: 1px solid white;
	 		color: black;
	 	}
	 	
	 	.nav-link img {
	 		height: 1.25em;
	 		margin-bottom: 0;
	 		float: right;
	 	}
	 	
	 	.nav-link div {
	 		width: 75%;
	 		float: left;
	 	}

	/**********************************
	 * #Nav module - desktop          *
	 **********************************/
	 	.nav-header {
	 		padding: 1em .6em;
	 	}
	 
/************************************************
 * #Clearfix module: 							
 *												
 * Apply the .clearfix class to any parent		
 * element that is collapsing because it 		
 * contains only floated elements 				
 ************************************************/

		.clearfix:before, .clearfix:after {
			content: "";
			display: table;
		}
		
		.clearfix:after {
			clear: both;
		}
		
		.clearfix {
			*zoom: 1;
		}
